
body{
    font-family: 'PT Serif', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
.first-section{
    display: flex;
}
.focus{
    width: 50%;
    padding-left: 8%;
    margin-top: 5%;
    line-height: 2;
}
.focused{
    border-left: 5px solid;
    border-image: linear-gradient(orange, tomato) ;
    border-image-slice: 1;
    line-height: 200%;
}
.focused-text{
    margin-left: 3%;
}
.focus img{
    width: 70%;
}
.oranged-text{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}
.button2{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}
.button3{
    text-decoration: none;
    background-image: linear-gradient(skyblue, cyan);
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}

.second-section{
    text-align: center;
    width: 90%;    
    margin: 0px auto;
    margin-top: 50px;
}
.mission-section{
    display: flex;
}
.mission{
    width: 33%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
.mission-1{
    background-color: #FFE793;
}
.mission-2{
    background-color: cyan;
}
.mission-3{
    background-color: plum;
}
.mission img{
    width: 60%;
}

.section-three{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left 50px;
    background-size: 20%;
}
.section-3{
    display: flex;
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;
}
.section-3 img{
    width: 70%;
}
.limit{
    width: 80%;
}
.limit p{
    margin-bottom: 40px;
}

.section-four{
    background-image: url(images/shape-6.png);
    background-repeat: no-repeat;
    background-position: right bottom 90px;
    background-size: 20%;
}
.section-4{
    display: flex;
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;
}
.section-4 img{
    width: 70%;
    margin-left: 30%;
}
.community{
    width: 80%;
}
.community p{
    margin-bottom: 40px;
}

.section6 {
    border-radius: 10px;
    width: 95%;
    padding: 10px 0px;
    margin-left: 2%;
    box-shadow: 10px 10px 20px gray;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.flexibleSection{
    display: flex;
    margin-bottom: 100px;
}
.feedbackHeading{
    padding-left: 2%;
    margin-bottom: 50px;
    color: #267F7D;
}
.sec6 img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.sec6{
    display: flex;
}
.customer1{
    margin-left: 2%;
    border-left: 5px solid;
    border-image: linear-gradient(#3B5A6E, #FFEC49);
    border-image-slice: 1;
}
.customer2{
    margin-left: 2%;
    border-left: 5px solid;
    border-image: linear-gradient(#007ECE, #73B1C8);
    border-image-slice: 1;
}
.customer3{
    margin-left: 2%;
    border-left: 5px solid;
    border-image: linear-gradient(#EC0158, #FFA400);
    border-image-slice: 1;
}
.sec6 p{
    padding-left: 2%;
    font-style: italic;
}


.footer{
    text-align: center;
    background-color: black;
    color: grey;
    padding: 30px 0px;
    margin-top: 50px;
}
.white-text{
    color: white;
}
.red-text{
    color: tomato;
}